<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
  <header>
    <div class="container">
      <h1>My Blog</h1>
      <nav id="main-nav">
        <a href="/" class="point">Home</a>
        <a href="/NewPost" class="point">New Post</a>
        <a href="/about" class="point">About</a>
      </nav>
      <button class="hamburger-menu" id="hamburger-button" aria-label="Toggle Menu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </header>