<%- include("partials/header.ejs")  %>
<main class="about-container">
    <section class="about-card">
      <h2>Hi, I'm the Creator!</h2>
      <p>
        Welcome to my blog - a place where I share my thoughts, experiences, and creative ideas through writing. This project was built using PostgreSQL, Node.js, Express, and EJS as a way to improve my full-stack web development skills.
      </p>
      <p>
        Whether it's about coding, life, or random musings, I hope you find something meaningful or relatable here. Thanks for stopping by!
      </p>
      <p class="signature">— Shruti</p>
    </section>
  <%- include("partials/footer.ejs") %>