<%- include("partials/header.ejs") %>
  <main class="full-post-container">
    <div class="full-post-card">
      <h2><%= title %></h2>
      <p>
        <%= content %>
      </p>
      <div class="post-navigation">
        <a href="/" class="back-button">← Back to Home</a>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
